@use "../utilities//functions.scss" as func;
@import "../utilities/mixins.scss";
@import url(https://fonts.googleapis.com/css2?family=Buda:wght@300&family=Satisfy&display=swap);

$color_1: #2f2f2f;
$color_2: #292222;
$color_3: #446a60;
$color_4: #2e5a52;
$color_5: #4b4b4b;
$color_6: #dbe8dc;
$color_7: #ffffff;
$color_8: #000000;
$color_9: #73976b;
$color_10: #3b5d50;
$color_11: #c6d51c;
$font-family_1: "Poppins";
$font-family_2: "Poly";
$font-family_3: "Poppins";
$font-family_4: "Poppins";
$font-family_5: "Buda";

.landing-page-revise-1 {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 100%; /* Menggunakan persentase untuk lebar agar responsif */
  /* Membuat margin kanan auto untuk mendorong elemen ke tengah */
  box-sizing: border-box;
  margin: auto;
  .container-13 {
    background: url("../assets/5.webp") 50% / cover no-repeat;
    width: 37.6px;
    height: 43.01px;
  }
  .why-choose-us {
    padding-bottom: 87px;
    display: inline-block;
    align-self: center;
    overflow-wrap: break-word;
    font-family: $font-family_1;
    font-weight: 600;
    font-size: 45px;
    line-height: 0.911;
    color: #4b4b4b;
  }
  .wcu-4 {
    border-radius: 20px;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }
  .we-will-recommend-you-some-furniture-according-to-your-needs {
    margin-left: 0px;
    overflow-wrap: break-word;
    font-family: $font-family_2;
    width: 100%;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.556;
    color: $color_2;
  }
  .helpful {
    display: inline-block;
    overflow-wrap: break-word;
    font-family: $font-family_1;
    font-weight: 600;
    font-size: 25px;
    line-height: 0.88;
    color: $color_1;
  }
  .wcu-3 {
    border-radius: 20px;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }
  .wcu-1,
  .wcu-2,
  .wcu-3,
  .wcu-4 {
    gap: 1.3vw;
  }
  .no-worry-of-misplaced-you-be-able-to-displays-3-dfurniture-models-in-real-time-camera-view {
    overflow-wrap: break-word;
    font-family: $font-family_2;
    width: 100%;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.556;
    color: $color_2;
  }
  .real-time {
    display: inline-block;
    overflow-wrap: break-word;
    font-family: $font-family_1;
    font-weight: 600;
    font-size: 25px;
    line-height: 0.88;
    color: $color_1;
  }
  .wcu-2 {
    border-radius: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
  }
  .select-the-furniture-then-arrange-the-furniture-in-your-space-only-with-your-phone-camera {
    margin-left: 0.5px;
    overflow-wrap: break-word;
    font-family: $font-family_2;
    width: 100%;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.556;
    color: $color_2;
  }
  .easy-to-use {
    display: inline-block;
    overflow-wrap: break-word;
    font-family: $font-family_1;
    font-weight: 600;
    font-size: 25px;
    line-height: 0.88;
    color: $color_1;
  }
  .wcu-1 {
    border-radius: 20px;
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
  }
  .no-need-to-install-an-application-only-using-the-browser {
    overflow-wrap: break-word;
    font-family: $font-family_2;
    width: 100%;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.556;
    color: $color_2;
  }
  .simple {
    display: inline-block;
    overflow-wrap: break-word;
    font-family: $font-family_1;
    font-weight: 600;
    font-size: 25px;
    line-height: 0.88;
    color: $color_1;
  }
  .frame-31 {
    box-shadow: 4px 8px 8px 0px rgba(68, 106, 96, 0.4);
    border-radius: 8px;
    border: 2px solid #446a60;
    margin: 0 1300px 52px 0;
    margin: 0 0px 52px 70px;
    padding: 0 70px 0 0px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding: 10px 12.7px 10px 11.8px;
    box-sizing: border-box;
  }
  .see-product {
    overflow-wrap: break-word;
    font-family: $font-family_1;
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 0.3px;
    line-height: 1.133;
    color: $color_3;
  }
  .what-is-furni-fit {
    padding: 0 70px 52.1px 0px;
    left: 9.4px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: "Poppins";
    font-weight: 600;
    font-size: 45px;
    letter-spacing: 0.4px;
    line-height: 1.389;
    color: $color_5;
  }
  .welcome-to-furni-fit-discover-afun-new-way-to-choose-and-place-furniture-in-your-space-with-augmented-reality-ar-technology-simply-use-your-devices-camera-to-see-exactly-how-the-furniture-will-look-in-your-room-by-this-website-we-also-provide-arecommendation-system-to-help-you-determine-whether-the-furniture-placement-is-suitable-or-not-for-your-space-start-exploring-our-collection-now-to-effortlessly-and-accurately-update-your-room {
    left: 9.4px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: "Poppins";
    height: unset;
    font-weight: 400;
    font-size: 25px;
    text-align: justify;
    letter-spacing: 0.4px;
    line-height: 1.389;
    color: $color_5;
  }
  .titleser {
    align-self: center;
    text-align: center;
    overflow-wrap: break-word;
    font-family: "Poppins";
    font-weight: 600;
    font-size: 60px;
    letter-spacing: 2px;
    line-height: 1.25;
    color: $color_2;
  }
  .every-home-is-unique-from-the-living-room-to-the-bedroom-we-provide-personalized-recommendations-tailored-to-your-lifestyle-and-aesthetics-helping-you-create-spaces-that-are-perfect-for-living-and-enjoying {
    overflow-wrap: break-word;
    font-family: "Poppins";
    width: 100%;
    font-weight: 400;
    font-size: 24px;
    text-align: justify;
    letter-spacing: 0.3px;
    line-height: 1.563;
    color: $color_5;
  }
  .furniture-recommendation {
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: "Poppins";
    font-weight: 600;
    font-size: 37px;
    line-height: 0.533;
    color: $color_4;
  }
  .visualize-furniture-in-your-space-instantly-browse-our-wide-range-of-furniture-and-decor-options-on-our-intuitive-web-platform-then-see-them-in-real-time-using-your-smartphone-camera {
    overflow-wrap: break-word;
    font-family: $font-family_1;
    width: 100%;
    font-weight: 400;
    font-size: 24px;
    text-align: justify;
    letter-spacing: 0.3px;
    line-height: 1.563;
    color: $color_5;
  }
  .ar-furniture {
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: $font-family_1;
    font-weight: 600;
    font-size: 37px;
    line-height: 0.533;
    color: $color_4;
  }
  .footer {
    background: #ffffff;
    position: relative;
    top: 3385px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 32.6px 41px 36px;
    box-sizing: border-box;
  }
  .nav {
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
    background: rgba(212, 222, 210, 1);
    position: sticky;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 27.3vw 10px 57px;
    width: 100%; // Menggunakan lebar 100% agar sesuai dengan lebar layar
    height: fit-content;
    box-sizing: border-box;
    transition: top 0.3s; // Efek transisi ketika navbar bergeser
  }

  .nav.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000; /* Pastikan navbar selalu berada di atas konten */
  }

  .line-1 {
    background: #73976b;
    margin: 0 0 0 10px;
    width: 100%;
    height: 5px;
  }
  .container-line {
    width: 79px;
    /* contoh: width: 300px; */
    margin: 0 0 3px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden;
  }

  .frame-32 {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    height: 3500px;
  }
  .landing {
    position: relative;
    display: flex;
    width: 100%;
    top: -80px;
    flex-direction: column;
    box-sizing: border-box;
  }
  .group-229 {
    position: absolute;
    bottom: 13px;
    top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 73px;
    height: 5px;
    box-sizing: border-box;
  }
  .user-cicrle-duotone {
    background: url("../assets/1.webp") 50% / cover no-repeat;
    margin: 8px 0;
    width: 55px;
    height: 54px;
  }
  .group-230 {
    margin: 0;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
  }

  .augment-your-space-amplify-your-reality {
    max-width: 57%;
    position: absolute;
    top: 240px;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    text-align: center;
    overflow-wrap: break-word;
    font-family: $font-family_2;
    font-style: italic;
    font-weight: 400;
    font-size: 68px;
    letter-spacing: 2.7px;
    color: white;
    width: 100%;
  }
  .introbutt {
    top: 400px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    width: 34%;
    height: 149px;
    position: relative;
    justify-content: center;
    justify-content: space-between;
    padding: 50px 50px 50px 50px;
  }
  .explore-home {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    background: #4f6949;
    top: 0px;
    cursor: pointer;
    right: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 45%;
    box-sizing: border-box;
    margin: 0 0px 0 0px;

    @include mobileStyles {
      width: 68%;
      height: 55px;
    }
  }
  .explore-home:hover {
    background: #465e41;
  }
  .explore {
    overflow-wrap: break-word;
    font-family: $font-family_1;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 20px;
    color: $color_7;
  }
  .try-now-home {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    background: #e4edec;
    left: 500px;
    top: 0px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 45%;
    box-sizing: border-box;
    margin: 0 0px 0 0px;

    @include mobileStyles {
      width: 68%;
      height: 55px;
    }
  }
  .try-now-home:hover {
    background: #d0d5d4;
  }
  .try-now {
    overflow-wrap: break-word;
    font-family: $font-family_1;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 20px;
    color: $color_8;
  }
  .introlanding {
    top: 20px;
    left: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    position: absolute;
    justify-content: center;
  }
  .image-14 {
    mix-blend-mode: darken;
    background: url("../assets/Image14.webp") 50% / cover no-repeat;
    position: absolute;
    display: flex;
    flex-direction: row;
    left: 0px;
    top: 60px;
    right: 0px;
    height: 670px;
    width: 100%;
    filter: brightness(0.7); /* Ubah nilai ini untuk menyesuaikan kegelapan */
  }
  .image-16 {
    mix-blend-mode: multiply;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    background: url("../assets/Image14.webp") 50% / cover no-repeat;
    width: 50%;
    max-width: 701.09px;
    height: 445.1px;
  }
  .image-19 {
    mix-blend-mode: multiply;
    border-radius: 30px;
    background: url("../assets/Image19.webp") 50% / cover no-repeat;
    width: 50%;
    max-width: 699.2px;
    height: 433.1px;
  }
  .elegant-logo-4-crop-1 {
    display: none;
    background: url("../assets/ElegantLogo4Crop1.webp") 50% / cover no-repeat;
    margin-bottom: 55px;
    margin-top: 55px;
    width: 500px;
    height: 102px;
    box-sizing: border-box;
  }
  .container-1 {
    width: 47%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: center;
    gap: 10%;

    @include mobileStyles {
      width: 100%;
      margin-top: 30px;
    }
  }
  .container-2 {
    background: url("../assets/2.webp") 50% / cover no-repeat;
    width: 47.2px;
    height: 42px;
  }
  .container-3 {
    width: 47%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: center;
    gap: 10%;
  }
  .container-4 {
    padding-inline: 10vw;
    height: 642px;
    background: rgba(221, 229, 223, 0.63);
    position: absolute;
    left: 0px;
    top: 750px;
    right: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
  }
  .container-5 {
    padding-inline: 9vw;
    padding-block: 6vw;
    gap: 8vw;
    background: #ffffff;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    top: 1410px;
    width: 100%;
    align-items: center;
    box-sizing: border-box;
  }
  .container-6 {
    gap: 5%;
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
    position: relative;
    align-self: center;
  }
  .container-7 {
    margin: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
  }
  .container-8 {
    gap: 4vw;
    display: flex;
    flex-direction: row;
    text-align: center;
    box-sizing: border-box;
  }
  .container-9 {
    background: url("../assets/4.webp") 50% / cover no-repeat;
    width: 47.2px;
    height: 42px;
  }
  .container-10 {
    gap: 5%;
    display: flex;
    position: relative;
    flex-direction: row;
    align-self: center;
    width: fit-content;
    box-sizing: border-box;
  }
  .container-11 {
    background: #e9efeb;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 156px;
    top: 2868px;
    display: flex;
    height: fit-content;
    flex-direction: column;
    align-items: center;
    padding-inline: 10vw;
    padding-block: 6vw;
    box-sizing: border-box;
  }
  .container-12 {
    background: url("../assets/3.webp") 50% / cover no-repeat;
    width: 48.2px;
    height: 42px;
  }
  .footer-furni-fit {
    display: flex;
    width: 100%;
    flex-direction: column;
    box-sizing: border-box;
  }
  .furni-fit {
    margin-bottom: 6px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: $font-family_3;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.2px;
    line-height: 1.4;
    color: $color_9;
  }
  .all-rights-reserved {
    overflow-wrap: break-word;
    font-family: $font-family_3;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.2px;
    line-height: 1.4;
    color: $color_9;
  }
  .vector-5 {
    background: #73976b;
    margin-bottom: 24px;
    width: 100%;
    height: 1px;
  }
  .nav-footer {
    margin: 14px 0 17px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
  }
  .about-us {
    overflow-wrap: break-word;
    font-family: $font-family_3;
    margin-left: auto;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 0.2px;
    line-height: 1.4;
    color: $color_9;
    text-decoration: none;
  }
  .partnership {
    overflow-wrap: break-word;
    font-family: $font-family_3;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.2px;
    line-height: 1.4;
    color: $color_9;
  }
  .privacy-police {
    overflow-wrap: break-word;
    font-family: $font-family_3;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.2px;
    line-height: 1.4;
    color: $color_9;
  }
  .home {
    margin: 0 0 0 10px; /* Sesuaikan margin agar berada di atas line */
    display: inline-block;
    overflow-wrap: break-word;
    font-family: $font-family_4;
    max-width: fit-content;
    font-weight: 400;
    font-size: 24px;
    color: $color_10;
    text-decoration: none;
    margin-left: 42px;

    strong {
      margin-left: 10vw;
    }
  }
  .recommendation {
    margin: 17px 0 14px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: $font-family_4;
    font-weight: 400;
    font-size: 24px;
    color: $color_10;
    text-decoration: none;

    @include mobileStyles {
      font-family: "Poppins";
	  font-size: 22px;
    }
  }
  .furniture {
    margin: 17px 0 14px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: $font-family_4;
    font-weight: 400;
    font-size: 24px;
    color: $color_10;
    text-decoration: none;
  }
  .about {
    margin: 17px 0px 14px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: $font-family_4;
    font-weight: 400;
    font-size: 24px;
    color: $color_10;
    text-decoration: none;
  }
  .active {
    border-bottom: 5px solid #73976b; /* Misalnya, garis bawah putih dengan lebar 2px */
  }

  .elegant-logo-2 {
    background: url("../assets/ElegantLogo2.webp") 50% / cover no-repeat;
    width: 172px;
    height: 70px;
  }
  //nav mob
  .nav-MobLP {
    border-bottom: 0.8px solid #858585;
    background: rgba(212, 222, 210, 0.71);
    display: none;
    flex-direction: row;
    width: 100%;
    height: 72.8px;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  .elegant-logo-4-crop-1LP {
    background: url("../assets/ElegantLogo4Crop1.webp") 50% / cover no-repeat;
    margin-top: 20px;
    margin-left: 90px;
    margin-right: 90px;
    margin-bottom: 20px;
    justify-content: center;
    width: 100%;
    max-width: 300px;
    height: 30px;
    z-index: -1000;
    display: none;
  }
  .clarityvmw-app-lineLP {
    margin: 15px 0px 10px 10px;
    width: 100px;
    height: 47px;
    display: none;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 470px) {
  .landing-page-revise-1 {
    .elegant-logo-4-crop-1 {
      display: none;
    }
    .frame-32 {
      top: 0;
      align-items: center;
      padding: 0px 0 300px 0;
      height: 4000px;
    }
    .image-14 {
      top: 0px;
      bottom: 0px;
      height: 100%;
      width: 100%;
    }
    .landing {
      top: 0;
    }
    .introlanding {
      top: 0;
      height: 750px;
    }
    .introbutt {
      top: 250px;
      width: 100%;
      height: 30%;
      flex-direction: column;
      margin-top: 100px;
      align-items: center;
    }

    .try-now {
      overflow-wrap: break-word;
      font-family: $font-family_1;
      font-weight: 400;
      font-size: 20px;
      color: $color_8;
    }
    .augment-your-space-amplify-your-reality {
      top: 100px;
      margin-top: 40px;
      align-items: center;
      font-size: 36px;
    }
    .container-4 {
      gap: 6%;
      align-items: center;
      height: 665px;
    }
    .what-is-furni-fit {
      padding: unset;
      font-size: 35px;
      margin-top: 99px;
      text-align: center;
    }
    .welcome-to-furni-fit-discover-afun-new-way-to-choose-and-place-furniture-in-your-space-with-augmented-reality-ar-technology-simply-use-your-devices-camera-to-see-exactly-how-the-furniture-will-look-in-your-room-by-this-website-we-also-provide-arecommendation-system-to-help-you-determine-whether-the-furniture-placement-is-suitable-or-not-for-your-space-start-exploring-our-collection-now-to-effortlessly-and-accurately-update-your-room {
      height: 500px;
      font-size: 19px;
      text-align: center;
    }
    .container-5 {
      background: #ffffff;
      border: 0.8px solid #ffffff;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 4px;
      top: 1456px;
      width: 100%;
      padding: 0px 0px 0px 0px;
      box-sizing: border-box;
    }
    .titleser {
      top: 80px;
      font-size: 41px;
      padding: 0 20px 130px 20px;
      position: relative;
    }
    .container-10 {
      margin: 0;
      width: 100%;
      flex-direction: column;
    }
    .image-16 {
      width: 80%;
      height: 241px;
      align-self: center;
    }
    .ar-furniture {
      font-size: 30px;
      position: relative;
      top: 0px;
      margin: 0;
      margin-bottom: 30px;
      margin-top: 35px;
      align-self: center;
    }
    .visualize-furniture-in-your-space-instantly-browse-our-wide-range-of-furniture-and-decor-options-on-our-intuitive-web-platform-then-see-them-in-real-time-using-your-smartphone-camera {
      margin: 0;
      padding-right: 30px;
      padding-left: 30px;
      font-size: 19px;
      text-align: center;
      box-sizing: border-box;
    }
    .container-6 {
      margin-top: 60px;
      flex-direction: column-reverse;
    }
    .container-3 {
      width: 100%;
      margin: 0;
      position: relative;
      margin-top: 30px;
    }
    .furniture-recommendation {
      font-size: 30px;
      max-width: 411px;
      text-align: center;
      line-height: 1;
      margin-bottom: 30px;
      margin-top: 35px;
    }
    .every-home-is-unique-from-the-living-room-to-the-bedroom-we-provide-personalized-recommendations-tailored-to-your-lifestyle-and-aesthetics-helping-you-create-spaces-that-are-perfect-for-living-and-enjoying {
      text-align: center;
      margin: 0;
      font-size: 19px;
      padding-left: 30px;
      padding-right: 30px;
      text-align: center;
      box-sizing: border-box;
    }
    .image-19 {
      width: 80%;
      height: 241px;
      align-self: center;
      position: relative;
    }
    .container-11 {
      top: 2953px;
      padding-block: 100px;
    }
    .why-choose-us {
      font-size: 35px;
    }
    .container-8 {
      gap: 58px;
      flex-direction: column;
      padding: 0 20px 0 20px;
    }
    .wcu-1,
    .wcu-2,
    .wcu-3,
    .wcu-4 {
      text-align: center;
    }
    .container-2,
    .container-12,
    .container-9,
    .container-13 {
      align-self: center;
    }

    .simple,
    .easy-to-use,
    .real-time,
    .helpful {
      align-self: center;
    }
    .footer {
      top: 2690px;
      padding-bottom: 30px;
    }
    .all-rights-reserved {
      font-size: 13px;
    }
    //nav settings
    .group-230 {
      display: none;
    }
    .clarityvmw-app-lineLP {
      display: flex;
      width: 100px; /* Tetapkan lebar tetap */
      flex-grow: 0;
    }
    .nav {
      display: none;
    }
    .nav-MobLP {
      display: flex;
      flex-direction: row;
    }
    .elegant-logo-4-crop-1LP {
      display: flex;
      margin-right: 116px;
    }
    @keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
    .nav-page-mob-resiveLP {
      position: absolute;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
      border-radius: 0 60px 60px 0;
      background: #eff2f1;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 600px;
      padding: 20.3px 17.8px 38px 17.8px;
      box-sizing: border-box;
      animation: fadeIn 0.7s ease;
    }
    .nav-page-mob-resiveLP .closenavLP {
      width: 25px;
      height: 25px;
      align-self: flex-start;
    }
    .nav-page-mob-resiveLP .elegant-logo-21LP {
      background: url("../assets/ElegantLogo22.webp") 50% / cover no-repeat;
      margin: 0 4px 69px 0;
      width: 197px;
      height: 206px;
    }
    .nav-page-mob-resiveLP .home,
    .nav-page-mob-LP .recommendation,
    .nav-page-mob-resiveLP .furniture,
    .nav-page-mob-resiveLP .about {
      margin: 17px 0 14px 0;
      display: inline-block;
      overflow-wrap: break-word;
      font-family: $font-family_1;
      font-size: 22px;
      color: $color_10;
    }
    .active {
      border-bottom: 0px solid #73976b; /* Menghapus garis bawah */
    }
  }
}
.clarityvmw-app-line {
  background: url("../assets/8.webp") 50% / cover no-repeat;
  margin: 15px 0px 10px 10px;
  width: 100px;
  height: 47px;
  display: none;
  box-sizing: border-box;
}
